@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

$primary: #ffbf5e;
$info: #243b41;
$dark: #243b41;

$font-size: 18;
$measure: 35;
$line-height: 1.3;//1.3;

$font-family: 'Raleway', sans-serif;

$hover-animation: true;

$show-grid: true;


.title{
    font-weight: 900 !important;
    text-shadow: 3px 3px 0 #fff;
}

code{
    font-family: 'Consolas'
}

.fantasy-font{
    font-family: 'Fugaz One', cursive;
}

$heading:(
    h1:(2,3,1),
    h2:(2,2,1),
    h3:(2,2,1),
    h4:(1,1,0),
    h5:(1,1,0),
    h6:(1,1,0),
) !default;

$h1-letter-spacing: 7px !default;
$h1-small-caps: true !default;


@import '../../../kitokocss/kitoko.scss';