$font-size-rem: $font-size / 16;
$leading: $font-size-rem * $line-height;

$size-3: $font-size-rem * $size-ratio;
$size-2: $size-3 * $size-ratio;
$size-1: $size-2 * $size-ratio;

$edit-mode: true;

.is-height-1{ height: $leading+rem; }
.is-height-2{ height: $leading*2+rem; }
.is-height-3{ height: $leading*3+rem; }
.is-height-4{ height: $leading*4+rem; }
.is-height-5{ height: $leading*5+rem; }
.is-height-6{ height: $leading*6+rem; }
.is-height-7{ height: $leading*7+rem; }
.is-height-8{ height: $leading*8+rem; }
.is-height-9{ height: $leading*9+rem; }
.is-height-10{ height: $leading*10+rem; }