
.hero{

    display: flex;
    flex-direction: column;
    justify-content: center;
    @include min-height($hero-min-height);

    .hero-head, .hero-foot{
        
        @include padding-right(0.5);
        @include padding-left(0.5);
        
        @media screen and (min-width:$phablet-breakpoint) {
            
            @include padding-right(1);
            @include padding-left(1);
        }
    }

    .hero-body{

        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include padding-top(1);
        @include padding-bottom(1);
        @include padding-right(0.5);
        @include padding-left(0.5);

        @media screen and (min-width:$phablet-breakpoint) {
            
            @include padding-right(1);
            @include padding-left(1);
        }
    }

    &.small{

        @include min-height($hero-small-min-height);
    }

    &.medium{
        
        @include min-height($hero-medium-min-height);
    }

    &.large{


        @include min-height($hero-large-min-height);
    }

    &.fullheight{

        height: 100vh;

        .hero-body{

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.navbar{

    @include height($navbar-height);
    display: flex;
    flex-direction: row;

    &.fixed{
        position: fixed;
        top:0;
        left:0;
        right: 0;
    }
    
    &.absolute{
        position: absolute;
        top:0;
        left:0;
        right: 0;
    }

    .navbar-container{

        height: 100%;
        flex:1;
        max-width: $container-max-width;
        margin: auto;
        display: flex;
        flex-direction: row;

        @include padding-right(1);
        @include padding-left(1);
    }

    .navbar-brand{

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .navbar-start, .navbar-end{

        display: flex;
        flex-direction: row;
        flex:1;
    }

    .navbar-end{

        justify-content: flex-end;
    }

    .navbar-item{

        margin: 0;
        @include margin-right(1/2);
        @include margin-left(1/2);

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .burger{

        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        display: none;
    }

    .mobile-menu{

        position: absolute;
        top: $navbar-height*$leading+em;
        background-color: #ffffff;
        color: $dark;
        left:0;
        right:0;
        bottom:0;
        display: none;
        overflow-y: auto;

        @include padding-top(1/2);
        @include padding-right(1);
        @include padding-bottom(1/2);
        @include padding-left(1);

        hr{
            @include width(2);
            @include height(1/2);
            margin-left:auto;
            margin-right: auto;
            @include margin-top(1/2);
            margin-bottom: 0;
            border:0;
            box-shadow: 0 -1px 0px #ddd;
        }

        .navbar-item{

            margin:0;
            @include padding-top(1/4);
            @include padding-bottom(1/4);

            @if( $hover-animation == true ){
                transition: background-color $hover-animation-duration;
            }

            &.hoverable:hover{

                background-color: #eee;
            }
        }
    }

    @media (max-width: $tablet-breakpoint) {

        .burger{

            display: flex;
        }

        &.active{

            .mobile-menu{

                display: block;
            }
        }

        .navbar-start{

            @if( $navbar-hide-start-mobile == true){

                display: none;
            }
        }
        .navbar-end{

            @if( $navbar-hide-end-mobile == true){

                display: none;
            }
        }
    }
}

.progress{

    display: block;
    @include height(1/2);
    height: $leading/2+em;

    margin: 0;
    @include margin-top(1/4);
    @include margin-bottom(1/4);
    
    background-color: #fff;
    border-radius: $border-radius;

    overflow: hidden;

    &.small{

        @include height(1/4);
        margin: 0;
        @include margin-top(3/8);
        @include margin-bottom(3/8);
    }

    &.large{

        @include height(1);
        margin:0;
    }

    .progress-value{

        background-color: #aaa;
        height: 100%;

        transition: width 200ms;
    }

    @each $color-name in $color-names-list {

        $i: index( $color-names-list, $color-name ) ;
        $color: nth( $color-list,$i);
        $border-color: darken($color, 20%);
        
        &.#{$color-name} {

            .progress-value{

                background-color: nth( $color-list, $i );
            }

            &.gradient{
                
                .progress-value{

                    $background-color: nth( $color-list, $i );
                    background: linear-gradient(-90deg, $background-color, lighten($background-color,20%));
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}

.notification{

    @include padding(1);
    background-color: #fff;
    border-radius: $border-radius-box;

    &.primary{

        background-color: $primary;
        color: getColorFromBackground($primary);
    }

    &.info{
        background-color: $info;
        color: getColorFromBackground($info);
    }

    &.warning{
        background-color: $warning;
        color: getColorFromBackground($warning);
    }

    &.danger{
        background-color: $danger;
        color: getColorFromBackground($danger);
    }

    &.dark{
        background-color: $dark;
        color: getColorFromBackground($dark);
    }

}
