
input{

    padding: 0;
    border:0;
    margin:0;
    @include padding-left(0.5);
    @include padding-right(0.5);
    @include margin-top(0.5);
    @include margin-bottom(0.5);
    @include line-height(1);

    border-radius: $border-radius;
    box-shadow:
        0 1px 0 #ccc,
        0 -1px 0 #ccc,
        1px 0 0 #ccc,
        -1px 0 0 #ccc;
    color: $dark;
    
    &.medium{

        @include line-height(1.5);
        @include font-size(1);

        @include padding-top(0);
        @include padding-right(1);
        @include padding-bottom(0);
        @include padding-left(1);
        @include margin-top( 1/2 );
        @include margin-bottom( 1/2 );
    }

    &.big{

        @include font-size(2);
        @include line-height(2);
        @include padding-top(1);
        @include padding-bottom(1);
        @include padding-left(1);
        @include padding-right(1);
    }

    &.in-text{

        box-shadow: 0 1px 0 #ccc;
        color: $grey;
        border-radius: 0;
        background: transparent;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
    }
}

label {
    
    &> span{
        @include padding-right(1);
        @include min-width(3);
        display: inline-block;
    }

    &.line{
        display: flex;
        @include margin-top(1);
        @include margin-bottom(1);

        &>span{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        input, button{
            flex:1;
        }
    }
}
