.columns{
    
    @media screen and (min-width: $tablet-breakpoint){ 
        
        display: flex;

        .column{
            flex:1;

            &:last-child{
                margin-bottom: 0;
            }
            &:first-child{
                margin-top: 0;
            }
        }
    }
}