body { 
    font-size: 100%;
    
    @if( $show-grid == true ){
        
        background-image: linear-gradient(to bottom,rgba(0,170,255,.3) 1px,transparent 1px);
    }
    background-size: 100% $leading+rem;
}


body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
    line-height: $leading+rem;
    font-size: $font-size-rem+rem;
    margin:0;
}
