body { 
    
    background-color: $body-background;
    color: $dark;
    font-family: $font-family;

    @include font-size(1);
    @include line-height(1);
    
    @if( $show-grid == true ){
        @include grid();
    }
}

body, caption, th, td, input, button, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    
    font-size-adjust: $font-size-ajust;
    // font-size: 100%;
    margin:0;
}

a{

    @if( $hover-animation ){
        transition: opacity $hover-animation-duration;
    }

    &:hover{
        opacity: 0.6;
    }
}

p{
    @include margin-bottom(1);
    margin-top: 0;
}

@each $heading, $properties in $heading {
    #{$heading}{
        @include line-height(nth($properties,1));
        @include margin-top(nth($properties,2));
        @include margin-bottom(nth($properties,3));
    }
}

h1, h2, h3, h4, h5, h6{
    hyphens: none !important;
}

h1{
    font-weight: 900;
    @include font-size(4);
    letter-spacing: $h1-letter-spacing;

    @if( $h1-small-caps==true ){
        font-variant-caps: small-caps !important;
    }
}

h2{

    font-weight: 700;
    @include font-size(3);
    letter-spacing: $h2-letter-spacing;

    @if( $h2-small-caps ){
        font-variant-caps: small-caps !important;
    }
}

h3{

    font-weight: 700;
    @include font-size(2);
    letter-spacing: $h3-letter-spacing;

    @if( $h3-small-caps ){
        font-variant-caps: small-caps !important;
    }
}

h4,h5,h6{
    @include font-size(1);
    font-weight: 700;
}

code{

    @include padding(1/2);
    @include margin-top(1);

    margin: 0;
    display: block;
    font-size: $font-size-em/$size-ratio+em; // TODO check
    
    font-family: inherit;
    border-radius: $border-radius;
    white-space: normal;
}

pre{
    padding: 0;
    margin: 0;
    overflow:visible;
}

code{
    border-left: 4px solid #ddd;
    color:#666;
    background: transparent;
}

hr{
    margin-left: auto;
    margin-right: auto;
    @include margin-top(0);
    @include margin-bottom(1);
    border: 0;
    @include height(1);
    background-color: transparent;
    box-shadow: 0 -1px 0 $hr-color inset;
    max-width: 100%;

    &.small{
        width: 100px;
    }
    &.medium{
        width: 300px;
    }
    &.large{
        width: 500px;
    }
}

ul, ol, dl{
    margin: 0;
    padding: 0;
    @include margin-bottom(1);
    @include margin-top(1);
    list-style-position: outside ;

    &.no-style{
        list-style: none;
    }

    li{
        padding:0;
        @include padding-left(1/2);
        @include padding-right(1/2);
        @include margin-left(-1/2);
    }

    dt{
        font-weight: 700;
    }

    dd{
        @include margin-left(1);
    }
}

table{

    width: 100%;
    text-align: center;
    border-spacing : 0;
    border-collapse : collapse;

    tr:nth-child(2n){
        background-color: #ffffff;
    }

    tr:nth-child(2n+1){
        background-color: #eeeeee;
    }

    tr{
        
        box-shadow: 0 -1px 0 #ddd inset;
        th, td{
        
            @include padding-top(1/2);
            @include padding-bottom(1/2);
            @include line-height(1);
        }
    }

    &.small{
        th,td{
            @include padding-top(0);
            @include padding-bottom(0);
        }
    }

    &.large{
        th,td{
            @include padding-top(1);
            @include padding-bottom(1);
        }
    }

    &.hoverable{
        tr:hover{
            background-color: #eee;
        }
    }
}

footer{
}

figure{
    margin:0;
}

/* Text tags */

small{

}

bdi{

}


// TODO

sub{

}

sup{
    
}