body { 
    
    background-color: $body-background;
    color: $dark;
    font-family: $font-family;

    @include font-size(1);
    @include line-height(1);
    
    @if( $show-grid == true ){
        @include grid();
    }
}

body, caption, th, td, input, button, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    
    font-size-adjust: $font-size-ajust;
    // font-size: 100%;
    margin:0;
}

a{
    color:$dark;

    @if( $hover-animation ){
        transition: opacity $hover-animation-duration;
    }

    &:hover{
        opacity: 0.6;
    }
}

p{
    @include margin-bottom(1);
    margin-top: 0;
    // text-indent: -$font-size + px;

    // &::first-letter {
    //     font-size: $font-size-em*$size-ratio*2+em;
    //     @include margin-top(0.5);
    //     // @include margin-bottom(1);
    //     @include margin-right(0.5);
    //     // font-size: $font-size-em * 1 + rem;
    //     float:left;

    //   }
}

@each $heading, $properties in $heading {
    #{$heading}{
        @include line-height(nth($properties,1));
        @include margin-top(nth($properties,2));
        @include margin-bottom(nth($properties,3));
    }
}

h1, h2, h3, h4, h5, h6{
    text-align: initial;
    hyphens: none;
}

h1{
    font-weight: 900;
    @include font-size(4);
    letter-spacing: $h1-letter-spacing;

    @if( $h1-small-caps==true ){
        font-variant-caps: small-caps !important;
    }
}

h2{

    font-weight: 700;
    @include font-size(3);
    letter-spacing: $h2-letter-spacing;

    @if( $h2-small-caps ){
        font-variant-caps: small-caps !important;
    }
}

h3{

    font-weight: 700;
    @include font-size(2);
    letter-spacing: $h3-letter-spacing;

    @if( $h3-small-caps ){
        font-variant-caps: small-caps !important;
    }
}

h4,h5,h6{
    @include font-size(1);
    font-weight: 700;
}

code{

    @include padding(1/2);
    @include margin-top(1);

    margin: 0;
    display: block;
    font-size: $font-size-em/$size-ratio+em; // TODO check
    
    font-family: inherit;
    border-radius: $border-radius;
}

pre{
    padding: 0;
    margin: 0;
    overflow:visible;
}

code{
    border-left: 4px solid #ddd;
    color:#666;
    background: transparent;
}

button{
    
    font-family: $font-family;

    white-space: nowrap;

    @include font-size(1);

    padding-top:0;
    padding-bottom: 0;
    @include padding-left(1);
    @include padding-right(1);

    margin-top: 0;
    margin-bottom:  0;

    $border-color: getBorderColor(#eee);

    box-shadow: 0 -1px $border-color inset, 0 1px $border-color inset, -1px 0 $border-color inset,1px 0 $border-color inset;
    background:#eee;
    border:0;
    border-radius: $border-radius;
    vertical-align:top; /* For small button, a 2px margin-top appear without any reason. */

    cursor: pointer;

    &.invisible{
        background-color: transparent;
        box-shadow: none;
        color: inherit;
        @include padding-left(1/4);
        @include padding-right(1/4);

        &:hover{
            
            background-color: transparent;
            box-shadow: none;
        }
    }

    &.small{

        font-size: $font-size-em /$size-ratio +em;
        @include line-height(3/4);
        @include padding-top(0);
        @include padding-bottom(0);
        @include margin-top( 1/8 );
        @include margin-bottom( 1/8 );
    }

    &.medium{

        @include padding-top(0.5);
        @include padding-right(1);
        @include padding-bottom(0.5);
        @include padding-left(1);
        @include margin-top( 1/2 );
        @include margin-bottom( 1/2 );
    }

    &.big{

        @include font-size(2);
        @include padding-top(1);
        @include padding-bottom(1);
        @include padding-left(1);
        @include padding-right(1);
        @include margin-top( 1/2 );
        @include margin-bottom( 1/2 );
    }

    @if($hover-animation){
        transition: background-color $hover-animation-duration;
    }
    
    &:hover{
        background:lighten(#eee,10%);
    }

    $color-names-list: primary info warning danger;
    $color-list: $primary $info $warning $danger;

    @each $color-name in $color-names-list {

        $i: index( $color-names-list, $color-name ) ;
        $color: nth( $color-list,$i);
        $border-color: getBorderColor($color);
        
        &.#{$color-name} {
            color: getColorFromBackground($color);
            background-color: nth( $color-list, $i );
            box-shadow:
                0 1px lighten($border-color,30%) inset,
                0 -1px $border-color inset,
                1px 0 lighten($border-color,30%) inset,
                -1px 0 $border-color inset;

            &:hover{
                
            background-color: lighten( nth( $color-list, $i ),10%);
            }
        }
    }
}

hr{
    margin:0;
    // @include margin-top(1);
    @include margin-bottom(1);
    border: 0;
    @include height(1);
    background-color: transparent;
    box-shadow: 0 -1px 0 #ddd inset;
}

ul{
    margin: 0;
    padding: 0;//$leading/2+em 0 $leading/2+em $leading+em;
    @include margin-bottom(2);
    list-style-position: outside ;

    li{
        padding:0;
        @include padding-left(1/2);
        @include padding-right(1/2);
        @include margin-left(-1/2);
    }
}

// TODO

ol{

}
dl{

}
dt{

}
dd{
    
}

table{

    width: 100%;
    text-align: center;
    border-spacing : 0;
    border-collapse : collapse;
    margin-top: 2px !important;
    margin-bottom: -2px !important; /* WTF ? */

    tr{
        
        box-shadow: 0 -1px 0 #ddd inset;
        
        th{

            padding:0;
            @include padding-left(1/2);
            @include padding-right(1/2);
            background: #eee;
        }

        td{

            padding: 0;
        }
    }

    &.hoverable{
        tr:hover{
            background-color: #eee;
        }
    }
}

footer{
}

figure{
    margin:0;
}
