.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.container{

    flex:1;
    max-width: $container-max-width;
    margin: auto;

    @include padding-left(1);
    @include padding-right(1);
}

.measure{

    max-width: $measure+em;
    
    @if( $hyphen==true ){
        text-align: justify;
        hyphens: auto;
    }

    @include padding-left(2);
    @include padding-right(2);

    
    @media screen and (min-width: $tablet-breakpoint){ 

        h1{
            
            @include margin-left($measure-h1-margin-left);
        }

        h2{
            
            @include margin-left($measure-h2-margin-left);
        }

        h3{
            
            @include margin-left($measure-h3-margin-left);
        }
    }
}

.margin-auto{
    margin-left: auto;
    margin-right: auto;
}

@for $i from 0 through 20{

    .height-#{$i}{
        @include height($i);
    }
    
    .min-width-#{$i}{
        @include min-width($i);
    }

    .padding-#{$i}{
        @include padding-top($i);
        @include padding-right($i);
        @include padding-bottom($i);
        @include padding-left($i);
    }

    .margin-#{$i}{
        @include margin-top($i);
        @include margin-right($i);
        @include margin-bottom($i);
        @include margin-left($i);
    }

    .margin-#{$i}-auto{
        @include margin-top($i);
        @include margin-bottom($i);
        margin-right:auto;
        margin-left:auto;
    }

    .top-#{$i}{
        @include top($i);
    }

    .right-#{$i}{
        @include right($i);
    }

    .left-#{$i}{
        @include left($i);
    }

    .bottom-#{$i}{
        @include bottom($i);
    }

    .margin-top-#{$i}{
        @include margin-top($i);
    }

    .margin-top-#{$i}-5{
        @include margin-top($i+0.5);
    }

    .margin-bottom-#{$i}{
        @include margin-bottom($i);
    }

    .margin-bottom-#{$i}-5{
        @include margin-bottom($i+0.5);
    }
}

.grid{
    @include grid();
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-1{
    flex:1;
}
.flex-2{
    flex:2;
}
.flex-3{
    flex:3;
}
.flex-4{
    flex:4;
}

.fullwidth{
    width: 100%;
    box-sizing: border-box;
}