/* Colors */
$primary: #9b59b6 !default;
$info: #3498db !default;
$dark: #333333 !default;
$grey: #666666 !default;
$light: #eeeeee !default;
$danger: #e74c3c !default;
$warning: #f1c40f !default;
$success: #009432 !default;
$white: #ffffff !default;

$link-color-dark-background: $light;
$link-color-light-background: $dark;

$body-background: $light !default;
$code-background: $dark !default;

$button-border-color: #ddd !default;

/* Typography */
$font-size: 16 !default;
$font-size-desktop: 20 !default;

$line-height: 1.55 !default;
$line-height-desktop: 1.45 !default;

$size-ratio: 1.414 !default;
$measure: 33 !default;
$font-size-ajust: none !default;

$container-max-width: 64em !default;

// line-height | margin-top | margin-bottom
$heading:(
    h1:(2.5,3,1),
    h2:(2,2,1),
    h3:(2,2,1),
    h4:(1,1,0),
    h5:(1,1,0),
    h6:(1,1,0),
) !default;

$h1-letter-spacing: 0 !default;
$h2-letter-spacing: 0 !default;
$h3-letter-spacing: 0 !default;

$h1-small-caps: false !default;
$h2-small-caps: false !default;
$h3-small-caps: false !default;

$measure-h1-margin-left: -1 !default;
$measure-h2-margin-left: 0 !default;
$measure-h3-margin-left: 0 !default;

$hr-color: #aaa !default;

/* */
$border-radius: 3px !default;
$border-radius-box: 6px !default;

/* Components */
$navbar-hide-start-mobile: false !default;
$navbar-hide-end-mobile: true !default;
$navbar-height: 2 !default;

/* Misc */
$show-grid: false !default;
$hover-animation: false !default;
$hover-animation-duration: 200ms !default;

$hyphen: true !default;

$font-family: 'Cormorant Garamond', serif !default;

// Responsive
$phablet-breakpoint: 37em !default;
$tablet-breakpoint: 48em !default;
$desktop-breakpoint: 64em !default;
$large-desktop-breakpoint: 80em !default;

// Hero
$hero-small-min-height: 5;
$hero-min-height: 10;
$hero-medium-min-height: 15;
$hero-large-min-height: 25;

// Input
$field-border-color: #eaeaea;

// Fontawesome
$use-fontawesome: true !default; // TODO
$all-animations: true !default;
