/* Colors */
$primary: #23cc43;
$info: #129ae4;
$dark: #333333;
$light: #eeeeee;

/* Typography */
$font-size: 19;
$line-height: 1.5;
$measure: 47rem;
$size-ratio: 1.414;

/* Misc */
$show-grid: false;
